In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv('train.csv')

In [9]:
train_data.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [11]:
traindata = train_data.drop(['Name', 'Embarked', "PassengerId", 'Ticket', "Cabin"], axis=1)

In [12]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
traindata['Sex'] = le.fit_transform(traindata['Sex'])

In [17]:
traindata.head #Male is 1 and female is 0

<bound method NDFrame.head of      Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0   NaN      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]>

In [18]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB

In [20]:
traindata = traindata.fillna(traindata['Age'].mean())

In [22]:
traindata.head

<bound method NDFrame.head of      Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0           0       3    1  22.000000      1      0   7.2500
1           1       1    0  38.000000      1      0  71.2833
2           1       3    0  26.000000      0      0   7.9250
3           1       1    0  35.000000      1      0  53.1000
4           0       3    1  35.000000      0      0   8.0500
..        ...     ...  ...        ...    ...    ...      ...
886         0       2    1  27.000000      0      0  13.0000
887         1       1    0  19.000000      0      0  30.0000
888         0       3    0  29.699118      1      2  23.4500
889         1       1    1  26.000000      0      0  30.0000
890         0       3    1  32.000000      0      0   7.7500

[891 rows x 7 columns]>

In [23]:
#checkout inputer

In [24]:
inputcols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
outputcols = ['Survived']

X = traindata[inputcols]
Y = traindata[outputcols]

In [27]:
Y.shape

(891, 1)

In [49]:
def entropy(col):
    counts = np.unique(col, return_counts=True)
    N = float(col.shape[0])

    entropy_val = 0.0
    for count in counts[1]:
        pi = count / N
        if pi != 0:  # Check if probability is not 0 to avoid log(0) error
            entropy_val += (-1.0 * pi* np.log2(pi))

    return entropy_val

# def divide_data(X_data, fkey, fval):
#     X_right = pd.DataFrame([], columns=X_data.columns)
#     X_left = pd.DataFrame([], columns=X_data.columns)

#     for ix in range(X_data.shape[0]):
#         val = X_data[fkey].loc[ix]

#         if val > fval:
#             X_right = pd.concat([X_right, X_data.loc[ix]])
#         else:
#             X_left = pd.concat([X_left, X_data.loc[ix]])

#     return X_left, X_right

def divide_data(X_data, fkey, fval):
    left = X_data[X_data[fkey] <= fval]
    right = X_data[X_data[fkey] > fval]
    return left, right


def information_gain(X_data, fkey, fval):
    left, right = divide_data(X_data, fkey, fval)

    l = float(left.shape[0])/X_data.shape[0]
    r = float(right.shape[0])/X_data.shape[0]

    if left.shape[0] == 0 or right.shape[0] == 0:
        return 0
    
    i_gain = entropy(X_data.Survived) - (l*entropy(left.Survived)+r*entropy(right.Survived))

    return i_gain

In [51]:
for i in X.columns:
    print(i)
    print(information_gain(traindata, i, traindata[i].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.0008836151229467681
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [78]:
class DecisionTree:
    
    def __init__(self, depth=0, max_depth = 5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth

    
    def train(self, X_train):

        features = ['Pclass', 'Sex', 'Age', 'SibSp', "Parch", 'Fare']
        info_gain = []

        for i in features:
            info_gain.append(information_gain(X_train, i, X_train[i].mean()))

        self.fkey =features[np.argmax(info_gain)]
        self.fval = X_train[self.fkey].mean()
        print("Making tree using the feature : ", self.fkey)

        data_left, data_right = divide_data(X_train, self.fkey, self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)

        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survived"
            else:
                self.target = "Dead"
            return
        
        if(self.depth >= self.max_depth):
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survived"
            else:
                self.target = "Dead"
            return
        
        #building the tree
        self.left = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.left.train(data_left)

        self.right = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.right.train(data_right)

    
        if X_train.Survived.mean() >= 0.5:
            self.target = "Survived"
        else:
            self.target = "Dead"
        return
    
    def predict(self, test):
        if test[self.fkey] > self.fval:
            if self.right is None:
                return self.target
            else:
                return self.right.predict(test)  # Return the prediction recursively
        else:
            if self.left is None:
                return self.target
            else:
                return self.left.predict(test)  # Return the prediction recursively

In [79]:
dt = DecisionTree()
# dt.train(traindata)

In [80]:
split = int(0.7*traindata.shape[0])
train_data_split = traindata[:split]
test_data = traindata[split:]
test_data.reset_index(drop=True)

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0           0       3    1  21.000000      0      0   7.8542
1           0       3    1  21.000000      0      0  16.1000
2           0       1    1  61.000000      0      0  32.3208
3           0       2    1  57.000000      0      0  12.3500
4           1       1    0  21.000000      0      0  77.9583
..        ...     ...  ...        ...    ...    ...      ...
263         0       2    1  27.000000      0      0  13.0000
264         1       1    0  19.000000      0      0  30.0000
265         0       3    0  29.699118      1      2  23.4500
266         1       1    1  26.000000      0      0  30.0000
267         0       3    1  32.000000      0      0   7.7500

[268 rows x 7 columns]

In [81]:
train_data_split.shape

(623, 7)

In [82]:
dt.train(train_data_split)

Making tree using the feature :  Sex
Making tree using the feature :  Pclass
Making tree using the feature :  Age
Making tree using the feature :  SibSp
Making tree using the feature :  Pclass
Making tree using the feature :  Pclass
Making tree using the feature :  Age
Making tree using the feature :  SibSp
Making tree using the feature :  Parch
Making tree using the feature :  Pclass
Making tree using the feature :  SibSp
Making tree using the feature :  Fare
Making tree using the feature :  Parch
Making tree using the feature :  Pclass
Making tree using the feature :  Pclass
Making tree using the feature :  Pclass
Making tree using the feature :  Pclass
Making tree using the feature :  Parch
Making tree using the feature :  SibSp
Making tree using the feature :  Fare
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Fare
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Fare
Making tree using the feature :  Age
Making tree using the feature :  Parch
Making tree using the feature :  Fare
Making tree using the feature :  Fare
Making tree using the feature :  Fare
Making tree using the feature :  Pclass
Making tree using the feature :  Fare
Making tree using the feature :  Parch
Making tree using the feature :  Fare
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Fare
Making tree using the feature :  Fare
Making tree using the feature :  SibSp
Making tree using the feature :  Fare
Making tree using the feature :  Age
Making tree using the feature :  Fare
Making tree using the feature :  Pclass
Making tree using the feature :  SibSp
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Pclass
Making tree using the feature :  Pclass
Making tree using the feature :  Age
Making tree using the feature :  SibSp
Making tree using the feature :  Fare
Making tree using the feature :  SibSp
Making tree using the feature :  Age
Making tree using the feature :  Parch
Making tree using the feature :  SibSp
Making tree using the feature :  SibSp
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Age
Making tree using the feature :  Parch
Making tree using the feature :  Pclass
Making tree using the feature :  Age

In [83]:
y_predictions = []
for index, row in test_data.iterrows():
    y_predictions.append(dt.predict(row))

In [84]:
y_predictions

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead']

In [85]:
Y_actual = test_data[outputcols]

In [86]:
Y_actual

     Survived
623         0
624         0
625         0
626         0
627         1
..        ...
886         0
887         1
888         0
889         1
890         0

[268 rows x 1 columns]